# TwinCAT artifacts
_Boot/
_CompileInfo/
_Deployment/
_Config/
*.tpy
*.compiled-library
*.bak
*.tsproj.bak
*.project.~u
*.tclrs

# Visual Studio artifacts
.vs/
*.user
bin/
obj/

# Studio 5000 artifacts
*.ACD.bak

# General
.DS_Store
Thumbs.db